{% assign publications = site.data.data.publications %}
{% if publications %}
<section class="section publications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ publications.title }}
  </h2>

  {% if publications.intro %}
  <div class="intro">
    {{ publications.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  <h3 class="publication-title">Preprints</h3>
  {% for publication in publications.Preprint %}
  <div class="item">
    <span>{{ publication.authors }} ({{ publication.year }})
      {{ publication.title }}.
      <u>{{ publication.journal }}</u>
      {% if publication.volume %}{{ publication.volume }}
      {% endif %}:{{ publication.pages }}.
      <a href="https://doi.org/{{ publication.doi }}">doi:{{ publication.doi }}</a>
    </span>
  </div><!--//item-->
  {% endfor %}
  
  <h3 class="publication-title">2020</h3>
  {% for publication in publications.y2020 %}
  <div class="item">
    <span>{{ publication.authors }} ({{ publication.year }}).
      {{ publication.title }}.
      <u>{{ publication.journal }}</u>
      {% if publication.volume %}{{ publication.volume }}{% endif %}:{{ publication.pages }}.
      <a href="https://doi.org/{{ publication.doi }}">doi:{{ publication.doi }}</a>
    </span>
  </div><!--//item-->
  {% endfor %}

  <h3 class="publication-title">2018</h3>
  {% for publication in publications.y2018 %}
  <div class="item">
    <span>{{ publication.authors }} ({{ publication.year }}).
      {{ publication.title }}.
      <u>{{ publication.journal }}</u>
      {% if publication.volume %}{{ publication.volume }}{% endif %}:{{ publication.pages }}.
      <a href="https://doi.org/{{ publication.doi }}">doi:{{ publication.doi }}</a>
    </span>
  </div><!--//item-->
  {% endfor %}

  <h3 class="publication-title">2017</h3>
  {% for publication in publications.y2017 %}
  <div class="item">
    <span>{{ publication.authors }} ({{ publication.year }}).
      {{ publication.title }}.
      <u>{{ publication.journal }}</u>
      {% if publication.volume %}{{ publication.volume }}{% endif %}:{{ publication.pages }}.
      <a href="https://doi.org/{{ publication.doi }}">doi:{{ publication.doi }}</a>
    </span>
  </div><!--//item-->
  {% endfor %}

  <h3 class="publication-title">2016</h3>
  {% for publication in publications.y2016 %}
  <div class="item">
    <span>{{ publication.authors }} ({{ publication.year }}).
      {{ publication.title }}.
      <u>{{ publication.journal }}</u>
      {% if publication.volume %}{{ publication.volume }}{% endif %}:{{ publication.pages }}.
      <a href="https://doi.org/{{ publication.doi }}">doi:{{ publication.doi }}</a>
    </span>
  </div><!--//item-->
  {% endfor %}

  <h3 class="publication-title">2015</h3>
  {% for publication in publications.y2015 %}
  <div class="item">
    <span>{{ publication.authors }} ({{ publication.year }}).
      {{ publication.title }}.
      <u>{{ publication.journal }}</u>
      {% if publication.volume %}{{ publication.volume }}{% endif %}:{{ publication.pages }}.
      <a href="https://doi.org/{{ publication.doi }}">doi:{{ publication.doi }}</a>
    </span>
  </div><!--//item-->
  {% endfor %}

  <h3 class="publication-title">2014</h3>
  {% for publication in publications.y2014 %}
  <div class="item">
    <span>{{ publication.authors }} ({{ publication.year }}).
      {{ publication.title }}.
      <u>{{ publication.journal }}</u>
      {% if publication.volume %}{{ publication.volume }}{% endif %}:{{ publication.pages }}.
      <a href="https://doi.org/{{ publication.doi }}">doi:{{ publication.doi }}</a>
    </span>
  </div><!--//item-->
  {% endfor %}

  <h3 class="publication-title">2013</h3>
  {% for publication in publications.y2013 %}
  <div class="item">
    <span>{{ publication.authors }} ({{ publication.year }}).
      {{ publication.title }}.
      <u>{{ publication.journal }}</u>
      {% if publication.volume %}{{ publication.volume }}{% endif %}:{{ publication.pages }}.
      <a href="https://doi.org/{{ publication.doi }}">doi:{{ publication.doi }}</a>
    </span>
  </div><!--//item-->
  {% endfor %}

  <h3 class="publication-title">2012</h3>
  {% for publication in publications.y2012 %}
  <div class="item">
    <span>{{ publication.authors }} ({{ publication.year }}).
      {{ publication.title }}.
      <u>{{ publication.journal }}</u>
      {% if publication.volume %}{{ publication.volume }}{% endif %}:{{ publication.pages }}.
      <a href="https://doi.org/{{ publication.doi }}">doi:{{ publication.doi }}</a>
    </span>
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
