{% assign talks = site.data.data.talks %}
{% if talks %}
<section class="section projects-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-chalkboard-teacher fa-stack-1x fa-inverse"></i>
    </span>
    {{ talks.title }}
  </h2>

  {% if talks.intro %}
  <div class="intro">
      <p>{{ talks.intro | markdownify }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for talk in talks.assignments %}
    <div class="item">

      <div class="meta">

        <div class="upper-row">
          <span class="talk-title"><a href="{{ talk.link }}">{{ talk.title }}</a>&mdash;</span><span class="talk-tagline">{{ talk.tagline }}</span>
          <span class="time">{{ talk.time }}</span>
        </div><!--//upper-row-->

      </div><!--//meta-->


    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
